<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.projects.sebastian.Smuuz"
      android:versionCode="1"
      android:versionName="1.0">
     <application android:icon="@drawable/icon" android:label="@string/app_name"
     	android:theme="@android:style/Theme.NoTitleBar" android:name=".App">
        <activity android:label="@string/app_name" android:name=".SmuuzActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<activity android:name="PlayerTabActivity"></activity>
<service android:name=".Backend.PlaybackService" android:process=":remote"></service>
<activity android:name="LibraryTabActivity"></activity>
<activity android:name="PlaylistsTabActivity"></activity>

<activity android:name="EqualizerTabActivity"></activity>
</application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 